*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: $font-size-base;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

button {
  appearance: none;
  -webkit-appearance: none;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: left;
  background: $body-bg-color $body-bg-pattern;
}

p, ul {
  margin-top: 0;
  margin-bottom: $line-height-computed;
}

strong {
  font-weight: $font-weight-bold;
}
