.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  user-select: none;
  // Compenser la marge supérieure des cartes
  margin: ($card-spacing / 2) 0;
  // Forcer un affichage sur 4 colonnes maximum
  max-width: ($card-width-computed  + $card-spacing) * 4;

  // Éviter un affichage sur 7 ou 8 colonnes
  @media (min-width: #{($card-width-computed  + $card-spacing) * 7}) and (max-width: #{($card-width-computed  + $card-spacing) * 9}){
    max-width: ($card-width-computed  + $card-spacing) * 6;
  }

  // Forcer un affichage sur 9 colonnes
  @media (min-width: #{($card-width-computed  + $card-spacing) * 9}){
    max-width: none;
    width: ($card-width-computed  + $card-spacing) * 9;
  }
}

.card {
  position: relative;
  display: block;
  flex: 0 0 $card-width-computed;
  padding: $card-padding;
  margin: ($card-spacing / 2);
  border-radius: $card-radius;
  background-color: $card-back-border-color;
  box-shadow: $card-shadow;
  cursor: pointer;
  transition: transform 500ms, opacity 200ms;
  transform-style: preserve-3d;

  &::after {
    display: block;
    content: "";
    padding-top: 100%;
  }

  &:active {
    transform: scale(1.05);
  }
}

.card__back,
.card__front {
  position: absolute;
  top: $card-padding;
  left: $card-padding;
  width: calc(100% - #{$card-padding * 2});
  height: calc(100% - #{$card-padding * 2});
  backface-visibility: hidden;
}

.card--flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  cursor: default;
  pointer-events: none;
}

.card--disabled {
  opacity: .8;
  cursor: default;
  pointer-events: none;

  &:active {
    transform: none;
  }
}

.card__back {
  background: $card-back-bg-color $card-back-bg-pattern;
  line-height: 1;
}

.card__front {
  background-image: $card-front-bg;
  transform: rotateY(180deg);
}
  
.card__value {
  display: inline-block;
  padding: .25rem;
  margin: .25rem;
  color: #fff;
  font-size: .65rem;
  background: rgba(0,0,0,.5);
  border-radius: .25rem;
}

.card--blink .card__front {
  animation: blink 300ms;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}